result_dsl.yaml
app:
  description: NL → Agent Orchestrator 자동 생성 워크플로우
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: YMS Auto Workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: edge_1
      source: start
      sourceHandle: source
      target: node_1_data_collector
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: edge_2
      source: node_1_data_collector
      sourceHandle: source
      target: node_2_spc_analyzer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: edge_3
      source: node_2_spc_analyzer
      sourceHandle: source
      target: node_3_anomaly_detector
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: if-else
      id: edge_4
      source: node_3_anomaly_detector
      sourceHandle: source
      target: branch_4
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: edge_5
      source: branch_4
      sourceHandle: 'true'
      target: node_4_alert_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: edge_6
      source: branch_4
      sourceHandle: 'true'
      target: node_5_report_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: edge_7
      source: branch_4
      sourceHandle: 'false'
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: edge_8
      source: node_4_alert_agent
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: edge_9
      source: node_5_report_agent
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        title: Start
        selected: false
        type: start
        variables:
        - variable: user_query
          label: 사용자 요청
          type: text-input
          required: true
        - variable: lot_id
          label: LOT ID
          type: text-input
          required: false
      height: 98
      id: start
      position:
        x: 80
        y: 200
      positionAbsolute:
        x: 80
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        title: DataCollector Agent
        selected: false
        type: http-request
        desc: LOT-2024-0812의 어제 날짜 SPC 관련 데이터를 DB에서 조회하고 장비 로그를 수집합니다
        method: POST
        url: http://agent-svc:8001/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_query_db", "mcp_fetch_equipment_log"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
      height: 98
      id: node_1_data_collector
      position:
        x: 360
        y: 200
      positionAbsolute:
        x: 360
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        title: SPC Analyzer Agent
        selected: false
        type: http-request
        desc: 수집된 데이터로 SPC 분석을 수행하고 OOC(Out of Control) 여부를 탐지합니다
        method: POST
        url: http://agent-svc:8002/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_run_spc", "mcp_detect_ooc", "mcp_calculate_cpk"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
      height: 98
      id: node_2_spc_analyzer
      position:
        x: 640
        y: 200
      positionAbsolute:
        x: 640
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        title: Anomaly Detector Agent
        selected: false
        type: http-request
        desc: SPC 분석 결과를 기반으로 이상 공정 여부를 ML 모델로 최종 판정합니다
        method: POST
        url: http://agent-svc:8004/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_ml_predict", "mcp_detect_drift"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
      height: 98
      id: node_3_anomaly_detector
      position:
        x: 920
        y: 200
      positionAbsolute:
        x: 920
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        title: Alert Agent
        selected: false
        type: http-request
        desc: 이상 공정이 감지된 경우 슬랙으로 즉시 알림을 발송합니다
        method: POST
        url: http://agent-svc:8006/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_notify_slack"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
      height: 98
      id: node_4_alert_agent
      position:
        x: 1200
        y: 200
      positionAbsolute:
        x: 1200
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        title: Report Agent
        selected: false
        type: http-request
        desc: 이상 공정이 감지된 경우 분석 결과를 PDF 리포트로 생성합니다
        method: POST
        url: http://agent-svc:8005/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_gen_report", "mcp_export_pdf"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
      height: 98
      id: node_5_report_agent
      position:
        x: 1200
        y: 200
      positionAbsolute:
        x: 1200
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        title: 조건 분기 (Step 4)
        selected: false
        type: if-else
        logical_operator: and
        conditions:
        - variable_selector:
          - node_3_anomaly_detector
          - anomaly_detected
          comparison_operator: ==
          value: 'true'
      height: 98
      id: branch_4
      position:
        x: 1480
        y: 200
      positionAbsolute:
        x: 1480
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        title: End
        selected: false
        type: end
        outputs:
        - variable: result
          value_selector:
          - node_4_alert_agent
          - body
          value_type: string
      height: 98
      id: end
      position:
        x: 1480
        y: 200
      positionAbsolute:
        x: 1480
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
