result_dsl.yaml
app:
  description: NL → Agent Orchestrator 자동 생성 워크플로우
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: YMS Auto Workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: edge_1
      source: start
      sourceHandle: source
      target: node_1_data_collector
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: edge_2
      source: node_1_data_collector
      sourceHandle: source
      target: node_2_spc_analyzer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: if-else
      id: edge_3
      source: node_2_spc_analyzer
      sourceHandle: source
      target: branch_3
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: edge_4
      source: branch_3
      sourceHandle: 'true'
      target: node_3_alert_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: edge_5
      source: branch_3
      sourceHandle: 'true'
      target: node_4_report_agent
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: edge_6
      source: branch_3
      sourceHandle: 'false'
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: edge_7
      source: node_3_alert_agent
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: end
      id: edge_8
      source: node_4_report_agent
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - !!python/object:models.dsl.DifyNode
      id: start
      type: start
      title: Start
      agent_id: null
      tools: []
      layer: 0
      parallel: false
      data:
        type: start
        variables:
        - variable: user_query
          label: 사용자 요청
          type: text-input
          required: true
        - variable: lot_id
          label: LOT ID
          type: text-input
          required: false
    - !!python/object:models.dsl.DifyNode
      id: node_1_data_collector
      type: http-request
      title: DataCollector Agent
      agent_id: data_collector
      tools:
      - mcp_query_db
      layer: 1
      parallel: false
      data:
        type: http-request
        title: DataCollector Agent
        desc: LOT-2024-0812의 어제 SPC 관련 데이터를 DB에서 조회하여 수집
        method: POST
        url: http://agent-svc:8001/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_query_db"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
    - !!python/object:models.dsl.DifyNode
      id: node_2_spc_analyzer
      type: http-request
      title: SPC Analyzer Agent
      agent_id: spc_analyzer
      tools:
      - mcp_run_spc
      - mcp_detect_ooc
      layer: 2
      parallel: false
      data:
        type: http-request
        title: SPC Analyzer Agent
        desc: 수집된 데이터로 SPC 분석 및 OOC(Out of Control) 탐지 수행
        method: POST
        url: http://agent-svc:8002/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_run_spc", "mcp_detect_ooc"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
    - !!python/object:models.dsl.DifyNode
      id: node_3_alert_agent
      type: http-request
      title: Alert Agent
      agent_id: alert_agent
      tools:
      - mcp_notify_slack
      layer: 3
      parallel: true
      data:
        type: http-request
        title: Alert Agent
        desc: 이상 공정 감지 시 Slack 채널에 알림 발송
        method: POST
        url: http://agent-svc:8006/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_notify_slack"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
    - !!python/object:models.dsl.DifyNode
      id: node_4_report_agent
      type: http-request
      title: Report Agent
      agent_id: report_agent
      tools:
      - mcp_gen_report
      - mcp_export_pdf
      layer: 3
      parallel: true
      data:
        type: http-request
        title: Report Agent
        desc: 이상 공정 감지 시 분석 결과를 PDF 리포트로 생성
        method: POST
        url: http://agent-svc:8005/invoke
        authorization:
          type: no-auth
        headers: 'Content-Type: application/json'
        params: ''
        body:
          type: json
          data: '{"input": "{{#start.user_query#}}", "lot_id": "{{#start.lot_id#}}",
            "tools": ["mcp_gen_report", "mcp_export_pdf"]}'
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 10
    - !!python/object:models.dsl.DifyNode
      id: branch_3
      type: if-else
      title: '조건: ooc_detected == true'
      agent_id: null
      tools: []
      layer: 4
      parallel: false
      data:
        type: if-else
        title: 조건 분기 (Step 3)
        logical_operator: and
        conditions:
        - variable_selector:
          - node_2_spc_analyzer
          - ooc_detected
          comparison_operator: ==
          value: 'true'
    - !!python/object:models.dsl.DifyNode
      id: end
      type: end
      title: End
      agent_id: null
      tools: []
      layer: 4
      parallel: false
      data:
        type: end
        outputs:
        - variable: result
          value_selector:
          - node_3_alert_agent
          - body
          value_type: string
    viewport:
      x: 0
      y: 0
      zoom: 1
  rag_pipeline_variables: []
